.form {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .8rem;
    line-height: 1.4rem;
}

.form input[type=text],
.form select {
    width: 100%;
}

.form label {
    font-size: .9rem;
}

.form .class2 {
    padding: 1.2rem 0 0 0;
}

.form .class1 {
    padding: 1.2rem 0 0 .8rem;
}

.form .ticket {
    padding: 1.2rem .8rem 0 0;
}

.form .title {
    padding: 1.2rem 0 0 .8rem;
}

#title, #ticket {
    padding: .6rem;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.2rem;
}

.form .first-name {
    grid-column: span 2;
    padding: 1.2rem 0 0 0;
}

#fName, #lName {
    padding: .6rem;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.2rem;
}
.form .last-name {
    padding: 1.2rem 0 0 0;
    grid-column: span 2;
}

.form #conditions {
    transform: scale(1.4);
}

.form .conditions {
    padding: 1.2rem 0;
    grid-column: span 2;
}

.form .button {
    padding: 1.2rem;
    grid-column: span 2;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
}